.todo-header {
    margin-bottom: 2em;
}

.editing label {
    display: none;
}

.editing .input-group .form-control {
    display: inline-block;
}

.list-group-item .form-control {
    display: inline !important;
    width: auto;
}

.list-group-item .item-delete-button {
    float: right;
}